
.bg-image{
  /* The image used */
  background-image: url("E:\PROJECTS\social-media-app\public\image\bgimage.jpg");

  /* Control the height of the image */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */

  filter: blur(8px);
  -webkit-filter: blur(8px);
}